
{{ define "main" }}
<div class="container" role="main">
  <h1>
    {{ .Title }}
  </h1>
  <div class="row">
    <div class="col-md-12">
      {{ with .Content }}
        <div class="well">
          {{.}}
        </div>
      {{ end }}
      <div class="my-grid">
        {{ range .Paginator.Pages }}
          {{ partial "post_preview_card" .}}
        {{ end }}
      </div>
    </div>
  </div>
</div>

<div class="container">
 <div class="row font-sans">
   <div class="col-md-12 mt-10">
      <nav aria-label="Page navigation">
      <ul class= "pagination justify-content-end">
      {{ template "_internal/pagination.html" . }}
      </ul>
      </nav>
    </div>
  </div>
</div>

<script src="{{ "js/imagesLoaded.js" | absURL }}"></script>
<script src="{{ "js/masonry.js" | absURL }}"></script>
<script>
  var masonryRow = document.querySelector('.my-grid');
  if (masonryRow) {
      imagesLoaded(masonryRow, function() {
          new Masonry(masonryRow, {
            itemSelector: '.my-grid-item',
            horizontalOrder: true
          });
      });
    }
</script>

{{ end }}
