<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6  mb-4 my-grid-item">
    <a href="{{ .Permalink }}">
        <div class="card h-100 single-post-card shadow-effect bg-faded-light border">
            <div class="card-body">
                <h3 class="fw-medium post-title">{{ .Title }}</h3>
                {{ if .Params.subtitle }}
                <h3 class="post-subtitle">
                    {{ .Params.subtitle }}
                </h3>
                {{ end }}

                {{ if .Params.status }}
                {{ if eq .Params.status "Done" }}
                    <div class="post-status-done">
                        {{ .Params.status }}
                    </div>
                {{ else if eq .Params.status "Work in progress" }}
                    <div class="post-status-wip">
                        {{ .Params.status }}
                    </div>
                {{ else }}
                    <div class="post-status">
                        {{ .Params.status }}
                    </div>
                {{ end }}
                {{ end }}

                <div class="post-entry">
                    {{ if .Description }}
                    {{ .Description }}

                    {{ else }}
                    {{ .Summary }}
                    {{ end }}
                </div>
            </div>

            {{ if .Params.previewImage }}
                <img src="{{ .Params.previewImage }}" style="border-radius: 3px; max-height:300px;">
            {{ end }}

            {{ if .Params.tags }}
            <div style="text-align: center;">
                {{ range .Params.tags }}
                <a href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}/" class="post-preview-card-tags">
                    #{{ . }}
                </a>
                {{ end }}
            </div>
            {{ end }}
            
            {{ with partial "get_image" . }}
            <img src="{{ ( .Resize " 500x" ).RelPermalink }}" alt="{{ .Title }}"
                class="card-img-bottom img-fluid lazyload">
            {{ end }}

            {{ if .Params.video }}
            <video loop autoplay muted playsinline class="img-title">
                <source src="{{ .Params.video }}">
            </video>
            {{ end }}
        </div>
    </a>
</div>